
<div class="mb-3">
  <label for="title" class="form-label">Title</label>
  <input required type="text" value="<%=blog.title%>" class="form-control" name="title" id="title">
</div>

<div class="mb-3">
  <label for="description" class="form-label">Description</label>
  <input required  type="text" value="<%=blog.description%>" class="form-control" id="description" name="description">
</div>

<div class="mb-3">
  <label for="content" class="form-label">Content</label>
  <textarea required  type="text" class="form-control" id="content" name="content"  rows="8" ><%=blog.content%></textarea>

 </div>
<br>
